/* reset.css */

/* Remove espaçamentos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajusta tamanho da fonte e herança */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Remove estilos padrão de listas */
ol, ul {
  list-style: none;
}

/* Remove estilos padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove bordas de elementos de mídia */
img, video {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* Remove estilos padrão de tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove estilos de cabeçalhos */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

/* Remove estilos de botões e inputs */
button, input, select, textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Define corpo como base limpa */
body {
  line-height: 1.5;
  font-family: sans-serif;
  /* background-color: #fff; */
  color: #000;
  font-size: 14px;
}
