/* Importação da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Darker+Grotesque:wght@300..900&family=Montserrat:ital@0;1&display=swap');

.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.col10 { width: 10%; }
.col20 { width: 20%; }
.col25 { width: 25%; }
.col30 { width: 30%; }
.col33 { width: 33.3333%; }
.col40 { width: 40%; }
.col45 { width: 45%; }
.col48 { width: 48%; }
.col50 { width: 50%; }
.col60 { width: 60%; }
.col65 { width: 65%; }
.col66 { width: 66.6666%; }
.col70 { width: 70%; }
.col75 { width: 75%; }
.col80 { width: 80%; }
.col90 { width: 90%; }
.col100 { width: 100%; }
.colauto { width: auto; };

.basis5{ flex-basis: 5%; flex-grow: 1;  }
.basis10{ flex-basis: 10%; flex-grow: 1;  }
.basis15{ flex-basis: 15%; flex-grow: 1;  }
.basis20{ flex-basis: 20%; flex-grow: 1;  }
.basis25{ flex-basis: 25%; flex-grow: 1;  }
.basis30{ flex-basis: 30%; flex-grow: 1;  }
.basis33{ flex-basis: 33.33%; flex-grow: 1;  }
.basis35{ flex-basis: 35%; flex-grow: 1;  }
.basis40{ flex-basis: 40%; flex-grow: 1;  }
.basis45{ flex-basis: 45%; flex-grow: 1;  }
.basis50{ flex-basis: 50%; flex-grow: 1;  }
.basis55{ flex-basis: 55%; flex-grow: 1;  }
.basis60{ flex-basis: 60%; flex-grow: 1;  }
.basis65{ flex-basis: 65%; flex-grow: 1;  }
.basis70{ flex-basis: 70%; flex-grow: 1;  }
.basis75{ flex-basis: 75%; flex-grow: 1;  }
.basis80{ flex-basis: 80%; flex-grow: 1;  }
.basis85{ flex-basis: 85%; flex-grow: 1;  }
.basis90{ flex-basis: 90%; flex-grow: 1;  }
.basis100{ flex-basis: 100%; flex-grow: 1;  }


h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;            /* Ajuste conforme sua necessidade */
    font-weight: 700;           /* Bold / Negrito */
    color: #FFFFFF;             /* Branco puro */
    line-height: 1.4;           /* Espaçamento entre linhas */
    letter-spacing: -0.02em;    /* Ajuste fino para fontes geométricas */
    padding: 10px;
    padding-left: 0px;
    -webkit-font-smoothing: antialiased; /* Deixa a fonte mais nítida em telas Mac/iOS */
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0px)}
}

body{
    display: flex;
    flex-wrap: wrap;
    background-color: #121212;
    color: gainsboro;
    font-size: 16px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: fadeIn 0.5s ease-in-out;
}

.hero{
    height: 100dvh;
    width: 100dvw;
    background: url("../src/fundo_desktop.png");
    background-repeat: no-repeat;   
    background-size: cover;     
    background-position: center;
    background-attachment: fixed;
    color: white !important;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25); /* ajuste a opacidade */
    z-index: 1;
}

.hero > * {
    position: relative;
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: right;
    padding: 20px 40px;
    position: fixed;
    z-index: 100;
    color: white;
    width: 100%;
    /* backdrop-filter: blur(2px); */
    border-bottom: 1px solid #00a86b;
    background: #121212;
}

.titulo_hero{
    display: flex;
    flex-direction: column;
    margin-left: 10dvw;
    margin-top: 35dvh;
    gap: 5px;
}

.titulo_hero h1 {
    font-size: 45px;
}
.titulo_hero p {
    font-size: 30px;
}

.contato_hero{
    display: flex;
    margin-left: 10dvw;
    margin-top: 16dvh;
}
.contato{
    padding: 20px 50px;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}
.contato:nth-child(1){
    padding: 20px 50px;
    padding-left: 0px;
}
.contato:nth-child(3){
    padding: 20px 50px;
}
.contato label{
    font-size: 20px;
    font-weight: 600;
}
.contato p{
    font-size: 16px;
    
}

.contato:nth-child(2){
    border-left: 2px solid white;
    border-right: 2px solid white;
    /* padding: 0px 20px; */
}

.hero_cta button{
    padding: 10px;
    background: #00a86b;
    color: white;
    margin-top: 10px;
}

main{
    margin: 10dvh 10dvh 0px 10dvw;
    width: 100%;
    gap: 10dvw;
    display: flex;
    flex-direction: column;
}

.sobre_mim{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img_perfil{
    min-height: 400px;
    width: 25%;
}

.img_perfil img{
    width: 100%;
    height: 100%;
    max-height: 700px;
    object-fit: cover;
}

.dados{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 75%;
    padding: 0px 50px;
}

.dados h3{
    color: #00a86b;
}

.dados hr{
    width: 100%;
    height: 1px;
    border: 1px solid white;
}

.tabela{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px 0px;
}

.btn_curriculo button{
    padding: 10px;
    background: #00a86b;
    color: white;
    margin-top: 10px;
}
label{
    font-weight: 600;
}

button{
    cursor: pointer;
}

.meus_projetos{
    width: 100%;
}

.titulo_fundo{
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 0.2px white;
    font-size: 6rem;
    opacity: 0.15;
    padding-bottom: 27px;
    z-index: 1;
    font-weight: bold;
}

.titulo_section{
    font-size: 45px;
    font-weight: bold;
}

.meus_projetos .cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.cards > div{
    display: flex;
    justify-content: center;
}

.fundo_card{
    padding: 20px;
}

.card{
    border-radius: 8px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 20px;
    max-width: 400px;
    gap: 20px;
    align-items: flex-start;
}

.card:hover{
    transition: ease 0.4s;
    box-shadow: 0px 0px 8px #00a86b;
}

.card h2{
    font-size: 22px;
    font-weight: bold;
}

.card img{
    min-width: 50px;
    min-height: 50px;
    max-height: 100px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0px 0px 14px #00a86b;
}

h1 {
    font-size: 35px;
}

.skills{
    /* height: 100dvh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 8rem;
}


/* .skills > div > div{
    padding: 2dvh 0px;
} */

.skills h2{
    font-size: 30px;
    color: #00a86b;
}

.skills h3{
    font-size: 20px;
    color: #00a86b;
}

.software_skills
{
    gap: 10px;
}

.software_skill_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.software_skill_card .rows{
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.software_skill_card img{
    width: 50px;
}

.barra_skill{
    appearance: none;
    -webkit-appearance: none;
    /* background: linear-gradient(to right, red 0%, red 50%, #767676 50%, #767676 100%); */
    height: 2px;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

.barra_skill::-webkit-slider-runnable-track{
    appearance: none;
    border-radius: 10px;
    height: 5px;
    width: 10px !important;
    background: transparent;
}

.barra_skill::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    width: 9px;
    height: 9px;
    border-radius: 15px;
    margin-top: -2px;
    background-color: #d0d0d0;
    outline: 3px solid #d0d0d0;
    outline-offset: 4px;
}

.idiomas_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card_trajetoria{
    margin: 10px 0px;
}

.data{
    background: #00a86b;
    border-radius: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    max-height: 75px;
    max-width: 75px;
    height: 100%;
}

.card_trajetoria{
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 1rem;
}

.card_trajetoria h2{
    font-size: 25px;
}

.trajetoria .hr{
    justify-content: center;
    align-items: center;
}

.trajetoria hr{
    padding: 0px;
    width: 0px;
    height: 30px;
}

form{                    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
}
.contato h2{
    font-size: 30px;
    color: #00a86b;
    text-align: center;
}

form input, form textarea{
    border: 1px solid #00a86a7c;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #ccc;
}

form input:focus, form textarea:focus{
    border: 1px solid #00a86b;
    outline: 0.25rem solid #00a86b;
}

textarea{
    resize: block;
}
form input[type="submit"]{
    width: auto;
    background-color: #00a86a7c;
    color: #ccc;
    border: 1px solid #00a86a7c;
    cursor: pointer;
    box-shadow: 0 0 24px #00a86a7c;
    padding: 0.5rem 1rem;
}

input[type="submit"]:hover{
    cursor: pointer;
    font-weight: 600;
    background-color: #00a86b;
}
.section_contato{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    margin-top: 5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #00a86b;
}


@media (max-width: 900px){
    nav{
        display: none;
    }
    .titulo_hero{        
        margin-top: 10dvh;
    }
    .titulo_hero p {
        font-size: 25px;
    }    
    .titulo_hero h1 {
        font-size: 30px;
    }
    .contato_hero{
        margin-left: 10dvw;
        margin-top: 10dvh;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .contato{
        padding: 0px !important;
        border: none !important;
    }
    main{
        margin: 2rem;
        margin-top: 4rem;
    }
    .titulo_fundo{
        font-size: 4rem;
    }
    .sobre_mim{
        flex-direction: column;
    }
    .columns{
        width: 100% !important;
    }
    .dados{
        padding: 0px;
    }
    .img_perfil{
        display: none;
    }
    .skills{
        gap: 2.5rem;
    }
    .basis30{
        flex-basis: 100%;
    }
    .section_skills{
        margin-top: 2.5rem;
    }
    
    .hero{
        height: 100dvh;
        width: 100dvw;
        background: url("../src/fundo_mobile.jpeg");        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}